$grey: #bbbbbb;
$header-background: $grey;
$link-normal: #000;
$link-visited: #00f;
$link-active: #0f0;
$link-hover: #f00;

.header {
  background-color: $header-background;
}

// Icons
// Listas
$size: (40px,80px,160px);

// Mapa | Breackpoint para la page
$breackpoints: (
  "small": 57px,
  "medio": 768px,
  "big": 992,
);

// Interpolacion
$button-type: "error";
$btn-color: #f00;

btn-#{button-type} {
  background-color: $btn-color;
}

// Interpolacion de uso de funcuiones
$fondo: "img/fondos/default.png";

.container {
  background-image: url('#(#fondo');
}

// Interpolacion  en comentarios
$autor: "Yo";

/* 
web desarrollada por #{$autor}
 */

// Anidamiento basico
a {
  color: $link-normal;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
  &:visited {
    color: $link-visited;
  }
  &:active {
    color: $link-active;
  }
}
