// Colores generales
$color-primario: #ccc;
$color-base: #333;

// Colores menu
$navbar-background-color: rgb(155,111,145);
$navbar-color-secundario: $color-primario;

// Colores del borde
$border-color: $color-base;
$border-style: "solid";
$border-width: 0.1rem;

$border-radius: 1rem;


$main-container-width: 80%;

.container {
  width: $main-container-width;
  margin: 0px auto;
}

nav {
  background-color: $navbar-background-color;
  padding: 0.2rem;
  ul {
    li {
      display: inline-block;
      padding-left: 1rem;
      padding-right: 1rem;
      &.active {
        color: $navbar-color-secundario;
        font-weight: bolder;
      }
      &:hover {
        color: $navbar-color-secundario;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

$figure-width: 10%;

figure.card {
  border: $border-width #{$border-style} $border-color;
  border-radius: $border-radius;
  display: inline-block;
  padding: 1rem;


  img {
    border-radius: $border-radius;
    width: 100%;
  }
  figcaption {
    font-size: 0.8rem;
    margin: 0.5rem;
    text-align: center;
  }
}